<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon
          mat-list-icon
          class="chevron-button sidenav-button"
          (click)="isExpanded = !isExpanded"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right</mat-icon
        >
      </mat-list-item>

      <mat-list-item [routerLink]="'dashboard'">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded">Dashboard</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'channels'">
        <mat-icon mat-list-icon>important_devices</mat-icon>
        <span *ngIf="isExpanded">Info</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="content">
    <mat-toolbar color="primary">
      <img src="../../../../assets/img/tom.svg " height="70px" width="55px" />
      <h4>Tom Tv</h4>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
